body { padding-top: 70px; } // sticky-footer

.title-custom-button{padding-top: 0.5em;}
.margin-bottom-1 {margin-bottom: 1em;}
.margin-top-1 {margin-top: 1em;}
.logo-menu{position: relative; top: -0.6em;}
.button-form-horizontal{margin-top: 1.714em;}
.bg-none{background-color: transparent;}

.center-vertical {
  text-align: center;
  vertical-align: middle!important;
}
.td-vertical {
  vertical-align: middle!important;
}